@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.bmi-card-shadow {
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
